name: Build binaries for UnblockNeteaseMusic

on:
    push:
        branches:
            - 'enhanced'
        paths-ignore:
            - '**.md'
            - '.github/**/*'

    pull_request:
        types: [opened, synchronize, reopened]
        paths-ignore:
            - '**.md'
            - '.github/**/*'

    release:
        types: [published]

jobs:
    build:
        strategy:
            matrix:
                target:
                    - 'linux-arm64'
                    - 'linux-x64'
                    - 'win-arm64'
                    - 'win-x64'

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Use Node.js 14
              uses: actions/setup-node@v2
              with:
                  node-version: 14

            - name: Set up QEMU
              id: qemu
              uses: docker/setup-qemu-action@v1
              with:
                  image: tonistiigi/binfmt:latest
                  platforms: all

            - name: Building executable file for ${{ matrix.target }}
              run: |
                  npx pkg --compress Brotli -t node14-${{ matrix.target }} .
                  mv "$(ls dist/*)" "$(ls dist/* | sed 's/music/music-${{ matrix.target }}/g')"
                  echo "ASSET_NAME=$(ls dist)" >> $GITHUB_ENV

            - name: Publishing to GitHub Artifacts
              uses: actions/upload-artifact@v2
              if: github.event_name != 'release'
              with:
                  name: ${{ env.ASSET_NAME }}
                  path: |
                      ./dist/*

            - name: Publishing to GitHub Releases
              uses: svenstaro/upload-release-action@v2
              if: github.event_name == 'release'
              with:
                  repo_token: ${{ github.token }}
                  file: dist/*
                  tag: ${{ github.ref }}
                  file_glob: true
